<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>aws-lambda-local-example</display-name>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>com.zaoo.lambda.LambdaLocalServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>packages</param-name>
            <param-value>com.zaoo.lambda.example</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
